# yaml-language-server: $schema=../../../res/schema/lang.json
languages:
  python:
    match: ['\.py$']
    fmt:
      type: cli
      exec:
        bin: black
        start: ["--quiet"]
      img: "ghcr.io/tyhal/crie-dep-pip"
      tag_crie_version: true
    chk:
      exec:
        bin: pylint
      type: cli
      img: "ghcr.io/tyhal/crie-dep-pip"
      tag_crie_version: true
  proto:
    match: ['\.proto$']
    fmt:
      exec:
        bin: protolint
      type: cli
      img: "ghcr.io/tyhal/crie-dep-go"
      tag_crie_version: true
    chk:
      exec:
        bin: protolint
      type: cli
      img: "ghcr.io/tyhal/crie-dep-go"
      tag_crie_version: true
  bash:
    match: ['\.bash$']
    fmt:
      type: shfmt
      language: bash
    chk:
      type: cli
      exec:
        bin: shellcheck
        start: ["-x", "--shell=bash", "-Calways"]
      img: "docker.io/koalaman/shellcheck-alpine:stable"
  sh:
    match: ['\.sh$', '/script/[^.]*$', '^script/[^.]*$']
    fmt:
      type: shfmt
      language: posix
    chk:
      type: cli
      exec:
        bin: shellcheck
        start: ["-x", "--shell=sh", "-Calways"]
      img: "docker.io/koalaman/shellcheck-alpine:stable"
  docker:
    match: ['(?i).*(Contain|Docker)file.*']
    chk:
      type: cli
      exec:
        bin: hadolint
        start: ["--ignore", "DL3007", "--ignore", "DL3018", "--ignore", "DL3016", "--ignore", "DL4006"]
      img: "docker.io/hadolint/hadolint:latest-alpine"
  yml:
    match: ['\.ya?ml$']
    chk:
      exec:
        bin: yamllint
      type: cli
      img: "ghcr.io/tyhal/crie-dep-pip"
      tag_crie_version: true
    fmt:
      type: cli
      exec:
        bin: yamlfmt
      img: "ghcr.io/google/yamlfmt:latest"
  terraform:
    match: ['\.tf$']
    fmt:
      type: cli
      exec:
        bin: terraform
        start: ["fmt"]
      img: "docker.io/hashicorp/terraform:1.3.5"
    chk:
      type: cli
      exec:
        bin: tflint
        start: ["--filter"]
        chdir: true
      img: "ghcr.io/terraform-linters/tflint"
  javascript:
    match: ['\.js$', '\.jsx$']
    fmt:
      type: cli
      exec:
        bin: standard
        start: ["--fix"]
      img: "ghcr.io/tyhal/crie-dep-npm"
      tag_crie_version: true
    chk:
      type: cli
      exec:
        bin: standard
      img: "ghcr.io/tyhal/crie-dep-npm"
      tag_crie_version: true
  golang:
    match: ['\.go$']
    fmt:
      type: cli
      exec:
        bin: gofmt
        start: ["-l", "-w"]
      img: "ghcr.io/tyhal/crie-dep-go"
      tag_crie_version: true
    chk:
      type: cli
      exec:
        bin: revive
        start: ["-config", "/etc/revive/revive.toml", "-set_exit_status"]
      img: "ghcr.io/tyhal/crie-dep-go"
      tag_crie_version: true
  markdown:
    match: ['\.md$']
    fmt:
      type: cli
      exec:
        bin: remark
        start: ["--use", "remark-preset-lint-recommended"]
        end: ["-o"]
      img: "ghcr.io/tyhal/crie-dep-npm"
      tag_crie_version: true
    chk:
      type: cli
      exec:
        bin: vale
      img: "ghcr.io/tyhal/crie-dep-go"
      tag_crie_version: true
  asciidoctor:
    match: ['\.adoc$']
    chk:
      type: cli
      exec:
        bin: vale
      img: "ghcr.io/tyhal/crie-dep-go"
      tag_crie_version: true
  json:
    match: ['\.json$', '\.JSON$']
    fmt:
      type: cli
      exec:
        bin: jsonlint
        start: ["-i", "-s", "-c", "-q"]
      img: "ghcr.io/tyhal/crie-dep-npm"
      tag_crie_version: true
    chk:
      type: cli
      exec:
        bin: jsonlint
        start: ["-q"]
      img: "ghcr.io/tyhal/crie-dep-npm"
      tag_crie_version: true
  cpp:
    match: ['\.cc$', '\.cpp$']
    fmt:
      type: cli
      exec:
        bin: clang-format
        start: ["-style=file", "-i"]
      img: "ghcr.io/tyhal/crie-dep-apk"
      tag_crie_version: true
    chk:
      type: cli
      exec:
        bin: cppcheck
        start: ["--enable=all", "--language=c++", "--suppress=operatorEqRetRefThis", "--suppress=operatorEq", "--suppress=noExplicitConstructor", "--suppress=unRegexedSuppression", "--suppress=missingInclude", "--suppress=unusedFunction", "--suppress=noConstructor", "--suppress=unmatchedSuppression", "--suppress=missingIncludeSystem", "--inline-suppr", "--error-exitcode=1"]
      img: "ghcr.io/tyhal/crie-dep-apk"
      tag_crie_version: true
  cppheaders:
    match: ['\.h$', '\.hpp$']
    fmt:
      type: cli
      exec:
        bin: clang-format
        start: ["-style=file", "-i"]
      img: "ghcr.io/tyhal/crie-dep-apk"
      tag_crie_version: true
  c:
    match: ['\.c$']
    fmt:
      type: cli
      exec:
        bin: clang-format
        start: ["-style=file", "-i"]
      img: "ghcr.io/tyhal/crie-dep-apk"
      tag_crie_version: true
    chk:
      type: cli
      exec:
        bin: cppcheck
        start: ["--enable=all", "--language=c", "--suppress=unRegexedSuppression", "--suppress=missingInclude", "--suppress=unusedFunction", "--suppress=unmatchedSuppression", "--suppress=missingIncludeSystem", "--inline-suppr", "--error-exitcode=1"]
      img: "ghcr.io/tyhal/crie-dep-apk"
      tag_crie_version: true
  cmake:
    match: ['CMakeLists.txt$', '\.cmake$']
    chk:
      type: cli
      exec:
        bin: cmakelint
        start: ["--config=/etc/.config/cmakelintrc"]
      img: "ghcr.io/tyhal/crie-dep-pip"
      tag_crie_version: true
