name: docker-push-template
on:
  workflow_call:
    inputs:
      img:
        required: true
        type: string
permissions:
  contents: read
jobs:
  docker-push:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: set environ
        run: |
          # Strip git ref prefix from version
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')

          # Strip "v" prefix from tag name
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')

          # Use Docker `latest` tag convention
          [ "$VERSION" == "main" ] && VERSION=latest

          echo "VERSION=$VERSION" >> $GITHUB_ENV
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Publish ${{ inputs.img }}
        id: docker_push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          platforms: linux/amd64,linux/arm64
          context: ./img/${{ inputs.img }}
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/crie-dep-${{ inputs.img }}:${{ env.VERSION }}
            ghcr.io/${{ github.repository_owner }}/crie-dep-${{ inputs.img }}:latest
          cache-from: |
            type=registry,ref=ghcr.io/${{ github.repository_owner }}/crie-dep-${{ inputs.img }}:latest
            type=gha
          cache-to: type=gha,mode=max
