name: docker-build-template
permissions:
  contents: read
  packages: read
on:
  workflow_call:
    inputs:
      img:
        required: true
        type: string
jobs:
  docker-build:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    permissions:
      contents: read
      packages: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Build ${{ inputs.img }}
        id: docker_build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ./img/${{ inputs.img }}
          builder: ${{ steps.buildx.outputs.name }}
          push: false
          cache-from: |
            type=registry,ref=ghcr.io/${{ github.repository_owner }}/crie-dep-${{ inputs.img }}:latest
            type=gha
          cache-to: type=gha,mode=max
