name: release
on:
  push:
    tags:
      - v*
permissions:
  contents: read
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@de5be2e08e11cf6633df490a1195080edb8e9f5e # main
      - name: Configure git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
      - name: Calculate SHA256
        id: sha
        run: |
          curl -L -o tool.tar.gz \
            https://github.com/tyhal/crie/archive/refs/tags/${GITHUB_REF_NAME}.tar.gz
          echo "SHA256=$(sha256sum tool.tar.gz | awk '{print $1}')" >> $GITHUB_ENV
      - name: Tap the repository
        run: brew tap tyhal/tap
      - name: Bump formula in tap
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.HOMEBREW_TAP_GITHUB_TOKEN }}
        run: |
          brew bump-formula-pr \
            --url="https://github.com/tyhal/crie/archive/refs/tags/${GITHUB_REF_NAME}.tar.gz" \
            --sha256="${SHA256}" \
            --no-browse \
            --no-fork \
            tyhal/tap/crie
